# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment folders
venv/
env/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Streamlit cache
.streamlit/

# Ignore data files if not needed in repo
data/*.csv
